html{
    // font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: Inter, 'sans-serif';
    color: $bkgPrimary;
    // font-family: 'Space Grotesk', sans-serif !important;
}

section{
    max-width: 1440px;
    width: 100%;
    // border-top: 1px solid rgba(255, 255, 255, 0.158);
    padding: 1rem 1rem;
}

.h1{
    font-size: 3rem;
}

.h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.h3{
    font-size: 1.875rem;
}

.h4{
    font-size: 1.563rem;
}

.h5{
    font-size: 1rem;
}

.p1{
    font-size: 1.563rem;
    letter-spacing: 2px;
}

.p2{
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 300;
}

.ls2{
    letter-spacing: 2px;
}

a{
    color: $white;
    text-decoration: none;
    transition: all 100ms ease-in;
    letter-spacing: 2px;
}

a:hover{
    color: $bluePrimary;
}

.cta{
    background: $bluePrimary;
    padding: 0.5rem 1rem;
    border: 2px solid $bluePrimary;
    border-radius: $borderRadius;
    transition: all 100ms ease;
    color: white !important;
    cursor: pointer;
}

.cta:hover{
    background: $bkgSecondary;
    border: 2px solid $bluePrimary;
    color: $bkgPrimary;
}

// CODE COLOURS 

.css-code{
    color: rgba(255, 255, 255, 0.788);
    font-weight: 400;
    font-family: 'Fira Mono', monospace;
    line-height: 2;
    letter-spacing: 0.5px;

    span{
        font-family: 'Fira Mono', monospace;
    }

    .comment{
        color: #808080;
    }
    .class{
        color: #ff4800;
        font-weight: 600 ;
    }
    .property{
        color: #3385ff;
        font-weight: 500;
    }
}

@media only screen and (max-width: 600px) {
    section{
        padding: 1rem 1rem;
        width: 100vw;
    }

    .h2{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .h3{
        font-size: 1.5rem;
    }

    .h4{
        font-size: 1rem;
    }

    .p2{
        font-size: 0.7rem;
        letter-spacing: 1px;
        font-weight: 300;
    }
  }

  .sec-title{
    width: max-content;
    border: 4px solid hsla(208, 33%, 90%, 0.129);
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.code{
    position: relative;
}

textarea {
    position: absolute;
    left: -100%;
}

.copy{
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgba(255, 255, 255, 0.137);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.copy:hover{
    background-color: rgba(255, 255, 255, 0.26);
}