// $bkgPrimary: hsl(206, 14%, 10%);
// $bkgSecondary: hsla(213, 15%, 26%, 0.384);
$bkgPrimary: #FFF0E5;
$bkgSecondary: #080b18;
$bluePrimary: hsl(230, 100%, 59%);
$blueSecondary: hsl(230, 76%, 48%);
$bluishWhite: hsl(210, 32%, 90%);
$white: hsl(0, 0%, 100%);
$borderRadius: 0.25rem;