html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: Inter, 'sans-serif';
  color: #FFF0E5;
}

section {
  width: 1440px;
  border-top: 1px solid rgba(255, 255, 255, 0.158);
  padding: 2rem 1rem;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 1.875rem;
}

.h4 {
  font-size: 1.563rem;
}

.h5 {
  font-size: 1rem;
}

.p1 {
  font-size: 1.563rem;
  letter-spacing: 2px;
}

.p2 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.ls2 {
  letter-spacing: 2px;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  letter-spacing: 2px;
}

a:hover {
  color: #2e51ff;
}

.cta {
  background: #2e51ff;
  padding: 0.5rem 1rem;
  border: 2px solid #2e51ff;
  border-radius: 0.25rem;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: white !important;
  cursor: pointer;
}

.cta:hover {
  background: #080b18;
  border: 2px solid #2e51ff;
  color: #FFF0E5;
}

.css-code {
  color: rgba(255, 255, 255, 0.788);
  font-weight: 400;
  font-family: 'Fira Mono', monospace;
  line-height: 2;
  letter-spacing: 0.5px;
}

.css-code span {
  font-family: 'Fira Mono', monospace;
}

.css-code .comment {
  color: #808080;
}

.css-code .class {
  color: #ff4800;
  font-weight: 600;
}

.css-code .property {
  color: #3385ff;
  font-weight: 500;
}

.control-panel .tweaks {
  background: #161b29;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

.control-panel .tweaks .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-panel .tweaks .first-row .change {
  height: 60px;
}

.control-panel .tweaks .first-row #color {
  width: 40px;
  height: 40px;
}

.control-panel .tweaks .first-row .url {
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-panel .tweaks .first-row .url .change-name {
  width: 130px;
}

.control-panel .tweaks .first-row .url input {
  background: rgba(255, 255, 255, 0.233);
  border-radius: 0.2rem;
  border: none;
  width: 80%;
  height: 30px;
  padding-left: 0.5rem;
}

.control-panel .tweaks .first-row .url input::-webkit-input-placeholder {
  font-family: Inter, 'sans-serif';
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}

.control-panel .tweaks .first-row .url input:-ms-input-placeholder {
  font-family: Inter, 'sans-serif';
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}

.control-panel .tweaks .first-row .url input::-ms-input-placeholder {
  font-family: Inter, 'sans-serif';
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}

.control-panel .tweaks .first-row .url input::placeholder {
  font-family: Inter, 'sans-serif';
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}

.control-panel .tweaks .first-row .url .cta {
  height: 30px;
  width: 110px;
  padding: 0 0.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  letter-spacing: 1px;
}

.control-panel .tweaks .first-row .url .cta:hover {
  background: none;
}

.control-panel .tweaks .changes {
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.control-panel .change {
  background: rgba(221, 230, 238, 0.129);
  width: 100%;
  height: 40px;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2rem;
}

.control-panel .change-name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.control-panel input {
  width: 55%;
}

.control-panel #color {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
}

.control-panel .card-color {
  width: 100px;
}

.control-panel .changeValue {
  width: 30px;
  text-align: right;
}

.control-panel .preview-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.control-panel .preview-code .preview-container, .control-panel .preview-code .code-container {
  width: 100%;
  background: #161b29;
  padding: 2rem;
  border-radius: 0.3rem;
  height: 588px;
}

.control-panel .preview-code .preview, .control-panel .preview-code .code {
  border-radius: 0.5rem;
  height: 100%;
}

.control-panel .preview-code .prev {
  height: 85%;
  margin-top: 2rem;
  background-image: url("/images/glassmorphismPrevImage1.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 0.2rem;
}

.control-panel .preview-code .prev .card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.349);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.486), inset 0 0 60px rgba(255, 255, 255, 0.4), 0 10px 20px rgba(255, 255, 255, 0.13);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.486), inset 0 0 60px rgba(255, 255, 255, 0.4), 0 10px 20px rgba(255, 255, 255, 0.13);
  width: 70%;
  height: 50%;
  padding: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(255, 255, 255, 0.932);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.521);
  letter-spacing: 2px;
}

.control-panel .preview-code .prev .card-name {
  opacity: initial;
  font-size: 1.2rem;
}

.control-panel .preview-code .prev .card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-panel .preview-code .prev .details {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-panel .preview-code .code {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.control-panel .preview-code .code .css-code {
  padding: 1rem;
  border-radius: 0.2rem;
  margin-top: 2rem;
  background: rgba(221, 230, 238, 0.129);
}

.sec-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 4px solid rgba(221, 230, 238, 0.129);
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  letter-spacing: 2px;
}

body {
  background: #090B11;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outer-section {
  border: 1px solid white;
  width: 100%;
}

.nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #090B11;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  border: none;
}

.nav-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .logo a {
  line-height: 0;
}

.nav-container .logo img {
  width: 2.5rem;
  margin-right: 1rem;
}

.nav-container .logo .title {
  font-weight: 500;
}

.nav-container .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  font-weight: 500;
}

.text {
  width: 900px;
  font-weight: 400;
}

.text .h2 {
  width: 900px;
  font-weight: 550;
}

.cta-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.cta-box .bmc-btn svg {
  height: 28px !important;
  margin-bottom: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cta-box .bmc-btn, .cta-box .cta {
  height: 40px !important;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-box .bmc-btn-text {
  font-weight: 600 !important;
  color: #080b18;
}

.css-generator .h3 {
  font-weight: 500;
  letter-spacing: 2px;
}

.generators {
  place-items: center;
  overflow: hidden;
  margin: 1rem 0;
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}

.generators .border-design {
  background: -webkit-gradient(linear, left top, right top, from(#22252b00), to(#181a2000));
  background: linear-gradient(90deg, #22252b00, #181a2000);
  padding: 2px;
  border-radius: 1.1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.generators .generator {
  background: -webkit-gradient(linear, left top, right top, from(#101114), to(rgba(37, 36, 49, 0.575)));
  background: linear-gradient(90deg, #101114, rgba(37, 36, 49, 0.575));
  padding: 1rem;
  border-radius: 1rem;
  gap: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generators .generator img {
  width: 100%;
  border-radius: 0.5rem;
}

.generators .generator .name-of-generator {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.generators .generator .des-of-generator {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.generators .generator .cta {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.generators .generator .cta:hover {
  background: none;
}

.border-design:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  background: -webkit-gradient(linear, left top, right top, from(#22252b), to(#181A20));
  background: linear-gradient(90deg, #22252b, #181A20);
}

.footer {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
/*# sourceMappingURL=style.css.map */