html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: Inter, 'sans-serif';
  color: #FFF0E5;
}

section {
  max-width: 1440px;
  width: 100%;
  padding: 1rem 1rem;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 1.875rem;
}

.h4 {
  font-size: 1.563rem;
}

.h5 {
  font-size: 1rem;
}

.p1 {
  font-size: 1.563rem;
  letter-spacing: 2px;
}

.p2 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.ls2 {
  letter-spacing: 2px;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  letter-spacing: 2px;
}

a:hover {
  color: #2e51ff;
}

.cta {
  background: #2e51ff;
  padding: 0.5rem 1rem;
  border: 2px solid #2e51ff;
  border-radius: 0.25rem;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: white !important;
  cursor: pointer;
}

.cta:hover {
  background: #080b18;
  border: 2px solid #2e51ff;
  color: #FFF0E5;
}

.css-code {
  color: rgba(255, 255, 255, 0.788);
  font-weight: 400;
  font-family: 'Fira Mono', monospace;
  line-height: 2;
  letter-spacing: 0.5px;
}

.css-code span {
  font-family: 'Fira Mono', monospace;
}

.css-code .comment {
  color: #808080;
}

.css-code .class {
  color: #ff4800;
  font-weight: 600;
}

.css-code .property {
  color: #3385ff;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  section {
    padding: 1rem 1rem;
    width: 100vw;
  }
  .h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .h3 {
    font-size: 1.5rem;
  }
  .h4 {
    font-size: 1rem;
  }
  .p2 {
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

.sec-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 4px solid rgba(221, 230, 238, 0.129);
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.control-panel-neumorphism .preview-changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.control-panel-neumorphism .preview-changes .preview-container, .control-panel-neumorphism .preview-changes .changes-container {
  width: 100%;
  background: #161b29;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem;
  border-radius: 0.5rem;
}

.control-panel-neumorphism .preview-changes .preview-container .prev, .control-panel-neumorphism .preview-changes .changes-container .prev {
  height: 420px;
  background: #d3d4d3;
  width: 100%;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.control-panel-neumorphism .preview-changes .preview-container .prev .shape_preview, .control-panel-neumorphism .preview-changes .changes-container .prev .shape_preview {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background: #d3d4d3;
  -webkit-box-shadow: 50px 50px 100px #666666, -50px -50px 100px #ffffff;
          box-shadow: 50px 50px 100px #666666, -50px -50px 100px #ffffff;
}

.control-panel-neumorphism .preview-changes .changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-panel-neumorphism .preview-changes .changes .clr {
  padding-left: .9rem;
  background: rgba(221, 230, 238, 0.129);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.control-panel-neumorphism .preview-changes .changes .clr input {
  background: none;
  border: none;
  margin: .9rem .9rem .9rem;
  display: inline;
  width: 30px;
  height: 30px;
}

.control-panel-neumorphism .preview-changes .changes .bar {
  background: rgba(221, 230, 238, 0.129);
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2rem;
}

.control-panel-neumorphism .preview-changes .changes input {
  width: 100%;
}

.control-panel-neumorphism .preview-changes .changes .bigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-panel-neumorphism .preview-changes .changes .container {
  width: 100px;
  height: 100px;
  /* border: 1px solid white; */
  border-radius: 0.5rem;
  background: #b9bbe4;
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 50%;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.control-panel-neumorphism .preview-changes .changes .active {
  opacity: 100%;
}

.control-panel-neumorphism .preview-changes .changes .container:hover {
  opacity: 90%;
}

.control-panel-neumorphism .preview-changes .changes .shape {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: black;
  background: #b9bbe4;
}

.control-panel-neumorphism .preview-changes .changes .flat {
  border-radius: 44px;
  background: #b9bbe4;
  -webkit-box-shadow: 6px 6px 12px #9496b6, -6px -6px 12px #dee0ff;
          box-shadow: 6px 6px 12px #9496b6, -6px -6px 12px #dee0ff;
}

.control-panel-neumorphism .preview-changes .changes .concave {
  border-radius: 44px;
  background: linear-gradient(145deg, #a7a8cd, #c6c8f4);
  -webkit-box-shadow: 6px 6px 12px #9496b6, -6px -6px 12px #dee0ff;
          box-shadow: 6px 6px 12px #9496b6, -6px -6px 12px #dee0ff;
}

.control-panel-neumorphism .preview-changes .changes .convex {
  border-radius: 44px;
  background: linear-gradient(145deg, #c6c8f4, #a7a8cd);
  -webkit-box-shadow: 6px 6px 12px #9496b6, -6px -6px 12px #dee0ff;
          box-shadow: 6px 6px 12px #9496b6, -6px -6px 12px #dee0ff;
}

.control-panel-neumorphism .preview-changes .changes .pressed {
  border-radius: 44px;
  background: #b9bbe4;
  -webkit-box-shadow: inset 6px 6px 12px #9496b6, inset -6px -6px 12px #dee0ff;
          box-shadow: inset 6px 6px 12px #9496b6, inset -6px -6px 12px #dee0ff;
}

.control-panel-neumorphism .bkg {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 1rem;
  border-radius: 0.2rem;
  height: 100%;
  margin-top: 2rem;
  background: rgba(221, 230, 238, 0.129);
}

.control-panel-neumorphism .code {
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background: #161b29;
}

.control-panel-neumorphism .code .inline {
  display: inline;
}

input {
  border: 1px solid white;
}

.control-panel {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  gap: 2rem;
}

.control-panel .tweaks {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: #161b29;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  border-radius: 0.3rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.control-panel .tweaks .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.control-panel .tweaks .first-row .change {
  height: 60px;
}

.control-panel .tweaks .first-row #color {
  width: 40px;
  height: 40px;
}

.control-panel .tweaks .first-row .url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.control-panel .tweaks .first-row .url .change-name {
  width: 130px;
}

.control-panel .tweaks .first-row .url input {
  background: rgba(255, 255, 255, 0.233);
  border-radius: 0.2rem;
  border: none;
  width: 80%;
  height: 30px;
  padding-left: 0.5rem;
}

.control-panel .tweaks .first-row .url input::-webkit-input-placeholder {
  font-family: Inter, 'sans-serif';
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}

.control-panel .tweaks .first-row .url input:-ms-input-placeholder {
  font-family: Inter, 'sans-serif';
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}

.control-panel .tweaks .first-row .url input::-ms-input-placeholder {
  font-family: Inter, 'sans-serif';
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}

.control-panel .tweaks .first-row .url input::placeholder {
  font-family: Inter, 'sans-serif';
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}

.control-panel .tweaks .first-row .url .cta {
  height: 30px;
  width: 120px;
  padding: 0 0.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.control-panel .tweaks .first-row .url .cta:hover {
  background: none;
}

.control-panel .tweaks .changes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.control-panel .change {
  background: rgba(221, 230, 238, 0.129);
  width: 100%;
  height: 40px;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2rem;
}

.control-panel .change-name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.control-panel input {
  width: 55%;
}

.control-panel #color {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
}

.control-panel .card-color {
  width: 100px;
}

.control-panel .changeValue {
  width: 30px;
  text-align: right;
}

.control-panel .preview-container, .control-panel .code-container {
  width: 100%;
  background: #161b29;
  padding: 1rem;
  border-radius: 0.3rem;
  height: 588px;
}

.control-panel .preview, .control-panel .code {
  border-radius: 0.5rem;
  height: 100%;
}

.control-panel .prev {
  height: 86%;
  margin-top: 2rem;
  background-image: url("/images/glassmorphismPrevImage1.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 0.2rem;
}

.control-panel .prev .card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.349);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.486), inset 0 0 60px rgba(255, 255, 255, 0.4), 0 10px 20px rgba(255, 255, 255, 0.13);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.486), inset 0 0 60px rgba(255, 255, 255, 0.4), 0 10px 20px rgba(255, 255, 255, 0.13);
  width: 70%;
  max-width: 500px;
  height: 50%;
  padding: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(255, 255, 255, 0.932);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.521);
  letter-spacing: 2px;
}

.control-panel .prev .card-name {
  opacity: initial;
  font-size: 1.2rem;
}

.control-panel .prev .card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-panel .prev .details {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-panel .code {
  height: 86%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.control-panel .code .css-code {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 1rem;
  border-radius: 0.2rem;
  height: 100%;
  margin-top: 2rem;
  background: rgba(221, 230, 238, 0.129);
}

@media only screen and (max-width: 1440px) {
  .control-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .changes {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 900px) {
  .first-row {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .url {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .url input {
    width: 100% !important;
  }
}

@media only screen and (max-width: 700px) {
  .changes {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .code-container {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .code {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .css-code {
    border: 1px solid;
    font-size: 0.55rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

body {
  background: #090B11;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-container {
  background: #090B11;
  padding: 1rem 1rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .logo a {
  line-height: 0;
}

.nav-container .logo img {
  width: 2.5rem;
  margin-right: 1rem;
}

.nav-container .logo .title {
  font-weight: 500;
}

.nav-container .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  font-weight: 500;
}

.hamburger {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 0;
}

.hamburger .line {
  width: 26px;
  border-radius: 1px;
  height: 2px;
  background: white;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.menu-open {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  top: 1rem;
  right: 1rem;
  z-index: 20;
}

.menu-open .line {
  width: 26px;
  height: 2px;
  background: white;
}

.menu-open .first-line {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.menu-open .second-line {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.menu-open .third-line {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.mobile-navbar {
  scroll-behavior: none;
  background: #080b18;
  border-bottom-left-radius: 0.5rem;
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  -webkit-box-shadow: 0 0 40px #080b1881;
          box-shadow: 0 0 40px #080b1881;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  gap: 4rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mobile-navbar a {
  font-size: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
}

.navbar-open {
  width: 100vw;
}

.navbar-open a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.des-container .h2 {
  width: 95%;
  font-weight: 550;
}

.des-container .text {
  width: 100%;
  font-weight: 400;
}

.cta-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.cta-box .bmc-btn svg {
  height: 28px !important;
  margin-bottom: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cta-box .bmc-btn, .cta-box .cta {
  height: 40px !important;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-box .bmc-btn-text {
  font-weight: 600 !important;
  color: #080b18;
}

.css-generator .h3 {
  font-weight: 500;
  letter-spacing: 2px;
}

.generators {
  place-items: center;
  overflow: hidden;
  margin: 1rem 0;
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}

.generators .border-design {
  background: -webkit-gradient(linear, left top, right top, from(#22252b00), to(#181a2000));
  background: linear-gradient(90deg, #22252b00, #181a2000);
  padding: 2px;
  border-radius: 1.1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.generators .generator {
  background: -webkit-gradient(linear, left top, right top, from(#101114), to(rgba(37, 36, 49, 0.575)));
  background: linear-gradient(90deg, #101114, rgba(37, 36, 49, 0.575));
  padding: 1rem;
  border-radius: 1rem;
  gap: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.generators .generator img {
  width: 100%;
  border-radius: 0.5rem;
}

.generators .generator .name-of-generator {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.generators .generator .des-of-generator {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.generators .generator .cta {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.generators .generator .cta:hover {
  background: none;
}

.border-design:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  background: -webkit-gradient(linear, left top, right top, from(#22252b), to(#181A20));
  background: linear-gradient(90deg, #22252b, #181A20);
}

.footer {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
  .nav-container .nav-buttons .HTML, .nav-container .nav-buttons .CSS {
    display: none;
  }
  .nav-container .nav-buttons a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title {
    font-size: 1rem;
  }
  .nav-buttons a {
    display: none;
  }
  .text {
    width: 100%;
    font-weight: 400;
  }
  .text .h2 {
    width: 100%;
    font-weight: 550;
  }
  .cta-box {
    gap: 1rem;
    margin-top: 1rem;
  }
  .cta-box .bmc-btn svg {
    height: 20px !important;
  }
  .cta-box .bmc-btn, .cta-box .cta {
    height: none !important;
    padding: 0.5rem 0.6rem;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-weight: 500 !important;
  }
  .cta-box .bmc-btn-text {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #080b18;
  }
  .css-generator .h3 {
    font-weight: 400;
    letter-spacing: 1px;
  }
  .border-design {
    border-radius: 1.1rem;
  }
  .generators {
    margin: 0;
    padding: 1rem;
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    place-items: center;
  }
  .generators .generator {
    border-radius: 1rem;
    padding: 0.7rem;
    gap: 1rem;
    width: 100%;
  }
  .generators .generator img {
    width: 100%;
    border-radius: 0.2rem;
  }
  .generators .generator .name-of-generator {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 2px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .generators .generator .cta {
    border-radius: 0.2rem;
    font-size: 0.8rem;
    min-width: 100%;
    text-align: center;
  }
  .generators .generator .cta:hover {
    background: none;
  }
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title {
    font-size: 1rem;
  }
  .nav-buttons a {
    display: none;
  }
  .text {
    width: 100%;
    font-weight: 400;
  }
  .text .h2 {
    width: 100%;
    font-weight: 550;
  }
  .cta-box {
    gap: 1rem;
    margin-top: 1rem;
  }
  .cta-box .bmc-btn svg {
    height: 20px !important;
  }
  .cta-box .bmc-btn, .cta-box .cta {
    height: none !important;
    padding: 0.5rem 0.6rem;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-weight: 500 !important;
  }
  .cta-box .bmc-btn-text {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #080b18;
  }
  .css-generator .h3 {
    font-weight: 400;
    letter-spacing: 1px;
  }
  .generators {
    margin: 0;
    padding: 1rem 0;
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    place-items: center;
  }
  .generators .generator {
    border-radius: 0.4rem;
    padding: 0.7rem;
    background: #303643;
    gap: 1rem;
    width: 100%;
  }
  .generators .generator img {
    width: 100%;
    border-radius: 0.2rem;
  }
  .generators .generator .name-of-generator {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 2px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .generators .generator .cta {
    border-radius: 0.2rem;
    font-size: 0.8rem;
    min-width: 100%;
    text-align: center;
  }
  .generators .generator .cta:hover {
    background: none;
  }
  .border-design:hover {
    -webkit-transform: none;
            transform: none;
    background: none;
  }
}

@media only screen and (max-width: 415px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title {
    font-size: 1rem;
  }
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-weight: 400;
    text-align: center;
  }
  .text .h2 {
    font-size: 0.95rem;
    width: 100%;
    font-weight: 500;
  }
  .css-generator .h3 {
    font-weight: 400;
    letter-spacing: 1px;
  }
  .generators {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
  }
  .generators .generator {
    border-radius: 0.4rem;
    padding: 0.5rem;
    background: #303643;
    gap: 0.5rem;
  }
  .generators .generator img {
    width: 100%;
    border-radius: 0.2rem;
  }
  .generators .generator .name-of-generator {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .generators .generator .cta {
    border-radius: 0.2rem;
    font-size: 0.7rem;
    min-width: 100%;
    text-align: center;
  }
  .generators .generator .cta:hover {
    background: none;
  }
  .border-design:hover {
    -webkit-transform: none;
            transform: none;
    background: none;
  }
}
/*# sourceMappingURL=style.css.map */